/* Variables para modificar */

:root {
    /* Colores */
    
    /* Color de fondo */
        --bg-color: #FFF8E0;
    /* Colores primarios */
        --color-primary: hsl(82, 38%, 53%);
        --color-secondary: #7F636E;
        --color-terciary: #dfab00;
    
    /* Letra */
    
    /* Color de letra */
        --font-color-w: white;
        --font-color-b: black;
    /* Tipo de letra */
        --font-primary-title: Tahoma, sans-serif;
        --font-secondary-p: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Tamaño de letra */
        --font-size-primary: 2.1rem;
        --font-size-secondary: 1.5rem;
    
    
    }
    
    body{
        /* Mando a llamar la variable correspondiente al color guardado */
        background-color:var(--bg-color);
        color:var(--font-color);
        font-family: var(--font-primary);
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Previene el desplazamiento horizontal */
        display: flex;
        flex-direction: row;

    }
    
    
    h1 {
        color:var(--font-color-w); 
        font-family:var(--font-primary-title);
        font-size: var(--font-size-primary);
        }
    
    /*Agregar fuentes externas*/
    
    h2 {
        color: var(--color-secondary);
        font-family: var(--font-secondary);
        font-size: 30px;
    }
    
    /*Cambiar las propiedades de las viñetas y listas*/
    
    /* */
    
    li, a {
        color: #7F636E;
        background-color: azure;
    }
    
    /* Clases (.) y Id (#) */
    .navbar {
        background-color: var(--color-secondary);
        color: var(--font-color-b);
        font-family: var(--font-secondary);
    }
    .footer {
        background-color: var(--color-secondary);
        color: var(--font-color-b);
        font-family: var(--font-secondary);
    }
    
    .main {
        background-color:rgb(73, 52, 23);
        /* Texto a la izquierda */
        width: 50%;
        float: left;
        padding: 20px;
        box-sizing: border-box; /* Incluye padding y border en el ancho del elemento */
        overflow-y: auto;
    }
       
    .button {
        color: var(--font-color-w);
        background-color: var(--color-terciary);
        padding: 20px;
        font-size: 30px;
    }
    
    img {
        border-color: #FFFFFF;
        border-image-width: 10px;
    }

    #lectura {
        align-items: left;
    }

/* CLASES PARA LAS IMAGENES DE LA PÁGINA DE SERVICIOS */

    .images-container {
        width: 50%;
        position: relative;
    }
    
    .top-right,
    .bottom-right {
        position: absolute;
        right: 0;
        width: 100%;
    }
    
    .top-right {
        top: 0;
        height: 50vh; /* La imagen superior cubre la mitad superior */
    }
    
    .bottom-right {
        bottom: 0;
        height: 50vh; /* La imagen inferior cubre la mitad inferior */
    }
    
    .top-right img,
    .bottom-right img {
        width: 100%; /* Ajusta el ancho de la imagen para llenar el contenedor */
        height: 100%; /* Ajusta la altura de la imagen para llenar el contenedor */
        object-fit: cover; /* Asegura que la imagen cubra todo el área */
    }